AvatarRotator/.vs/AvatarRotator/v16/Server/sqlite3/db.lock
AvatarRotator/.vs/AvatarRotator/v16/Server/sqlite3/storage.ide
AvatarRotator/.vs/AvatarRotator/v16/Server/sqlite3/storage.ide-shm
AvatarRotator/.vs/AvatarRotator/v16/Server/sqlite3/storage.ide-wal
