.cardContainer {
    display: inline-block;
    width: 240px;
    height: 440px;
}

.card {
    height: 320px;
    width: 200px;
}

.removeImage {
    width: 100%;
}

.imageModal {
    max-height: 75%;
    width: 75%;
}

.addImageButton {
    height: 320px;
    width: 200px;
}