.cardContainer {
    display: inline-block;
    width: 240px;
    height: 400px;
}

.card {
    height: 320px;
    width: 200px;
}

.rotationImage {

}

.imageModal {
    max-height: 75%;
    width: 75%;
}

.addImageButton {
    height: 320px;
    width: 200px;
}