.cardContainer {
    display: inline-block;
    width: 240px;
    height: 440px;
}

.card {
    height: 322px;
    width: 201px;
    border: none;
    background-color: #091013;
}

.removeImage {
    width: 100%;
}

.imageModal {
    max-height: 75%;
    width: 75%;
}

.rotationImage {
    color: #666;
    border: 1px solid #232a2d;
}

.rotationImage:hover {
    filter: brightness(130%);
    transition: 0.5s;
}

.imageModal .modal-content {
    background-color: #091013;
}

.modalFullImageContainer {
    width: 100%;
    position: relative;
}

.modalFullImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}